* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-hight: 1.4;
    font-weight: 400;
    background-color: hsla(55, 100%, 85%, 0.2);
    color: #4a4a4a;
}

img {
    max-width: 100%;
    display: block;
}

/* header and nav */
header {
    position: fixed;
    /* margin-top: -1.5rem; */
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid #000;
    background-color: #FFE200;
    box-shadow: 0px 4px 20px;
}

header .content {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

header .logo-flex {
    flex: 1;
}

header .logo {
    width: 5rem;
    overflow: hidden;
}

header .logo img {
    width: 100%;
    display: block;
}

nav ul {
    display: flex;
    flex: 0 1;
}

nav li {
    padding-left: 3rem;
    list-style-type: none;
}

nav a, .banner-contact a {
    color: #4a4a4a;
    text-decoration: none;
    vertical-align: bottom;
    font-size: 1.5rem;
    font-weight: 600;
}

/*  Main content*/
main {
    position: relative;
    top: 6.5rem;
}


/* banner */
#banner .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 48rem;
    background-image: url("/resources/img/photos/loft/loft_fin_2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center; 
}


.banner-left {
    width: 45%;
    background-color: hsla(360, 100%, 100%, 0.5);
    border-radius: 0.625rem;
}

h1, h2, h3 {
    font-weight: 400;
}

h1 {
    font-size: 3.5rem;
    font-weight: 600;
}
h2 {
    font-size: 2.75rem;
    font-weight: 500;
}
h3 {
    font-size: 2rem;
    font-weight: 400;
}

.banner-left .belfast h1 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.banner-left .belfast h2 {
    font-size: 2.75rem;
    margin-bottom: 2rem;
}

.banner-left .belfast p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.belfast span {
    font-weight: bolder;
}

.banner-right {
    width: 25%;
    overflow: hidden;

}

.banner-right img {
    max-width: 100%;
    display: block;
}

.banner-contact {
    width: 25%;
    margin: 2.5rem auto;
    background-color: hsla(57, 100%, 78%, 0.8);
    padding: 0.75rem;
    border-radius: 0.625rem;
}
.banner-contact:hover {
    background-color: hsla(0, 100%, 78%, 0.8);
}

/* banner media queries */
/* tablet */
@media only screen and (max-width: 768px) {

    #banner .container {
        flex-flow: column;
    }
    .banner-left {
        width: 90%;
        position: relative;
        bottom: 4.25rem;
    }
    .banner-right {
        display: none;
    }

    .banner-contact {
    width: 35%;
    padding: 1.25rem;
    border-radius: 0.625rem;
}

    /* about media tablet*/
    #about .container {
        flex-flow: column;
    }
    #about .container .about-left {
        width: 100%;
    }
    #about .container .about-right {
        width: 100%;
    }
}

@media only screen and (max-width: 630px) {
    nav li {
        padding-left: 0.75;
    }
    nav a {
        font-size: 1rem;
        padding-left: 0.95rem;
    }
    nav ul {
        margin:0;
        padding: 0;
        /* display: block; */
    }
    header .content {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
    }
    #banner h1 {
        font-size: 2.75rem;
    }
    #banner h2 {
        font-size: 2rem;
    }
    #banner h3 {
        font-size: 1.5rem;
    }


}


/* about section */
#about {
    margin-top: 3rem;
    border-top: 1px solid gray;
}


.about-TNC {
    background-color: hsla(55, 100%, 85%, 0.15);
    padding-top: 2rem;
}
.about-TNC h1 {
    text-align: center;
    padding: 0.5rem 0;
    margin-bottom: 0;
    font-weight: 500;
    background-color: 	hsla(53, 100%, 50%, 0.3);
    
}
#about .container {
    background-color: hsla(55, 100%, 85%, 0.15);
    padding: 3.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
}

.about-left {
    box-sizing: border-box;
    width: 30%;
    padding: 1.5rem;
    background-color: #fff;
    border: 1px solid darkgray;
}

.digger-photo {
    width: 100%;
    overflow: hidden;
}

.digger-photo img {
    max-width: 100%;
    display: block;

}

.tom h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

.tom h3 {
    font-size: 2rem;
    font-weight: 400;
}

.about-right {
    box-sizing: border-box;
    padding: 1.5rem;
    width: 55%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.about-title {
    display: flex;
    flex-flow: column;
    justify-content: between;
}

.about-title h2 {
    font-size: 2.75rem;
    margin-bottom: 3rem;
}
.about-title h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.about-middle p {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 0.5rem;
}

.about-middle {
    margin-bottom: 2rem;
} 
.about-aside p{
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 768px) {
    /* about media tablet*/
    #about .container {
        flex-flow: column;
    }
    #about .container .about-left {
        width: 100%;
    }
    #about .container .about-right {
        width: 100%;
    }

    #about h1 {
        font-size: 2.5rem;
    }
    #about h2 {
        font-size: 2rem;
    }
    #about h3 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 630px){
    #about h1 {
        font-size: 2rem;
        margin: 0;
    }
    #about h2 {
        font-size: 1.75rem;
    }
    #about h3 {
        font-size: 1.25rem;
    }
}




/*  Projects section */
#projects {
    border-bottom: 1px solid gray;
}
.center {
    text-align: center;
}

#projects .container {
    background-color: hsla(55, 100%, 85%, 0.15);
    padding: 2rem 1rem;
}

.projects-title {
    padding: 1rem 0 1.5rem;
}

.projects-title h1 {
    background-color: 	hsla(53, 100%, 50%, 0.3);
    padding: 0.5rem 0;
    border-radius: 0.625rem;
}

.project {
    margin-bottom: 1rem;
}
.project, .images-container {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid darkgray;
    padding: 1rem;
}

.images-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
   
}

#projects .img-container {
    width: 30%;
    height: auto;
    overflow: hidden;
}

.img-container img {
    max-width: 100%;
    height: auto;
}

figcaption {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
    font-weight: 500;
}


/* FILL IN THE OTHER PROJECTS DETAILS HERE */

/* Projects media queries */
@media only screen and (max-width: 768px) {
    #projects .img-container {
        width: 45%;
        height: auto;
        overflow: hidden;
    }

    #projects h1 {
        font-size: 2.5rem;
    }
    #projects h2 {
        font-size: 2rem;
    }
    #projects h3 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 630px){
    #projects h1 {
        font-size: 2rem;
        margin: 0;
    }
    #projects h2 {
        font-size: 1.75rem;
    }
    #projects h3 {
        font-size: 1.25rem;
    }
    .projects-title h3 {
        display: none;
    }
    #projects figcaption {
        font-size: 1rem;
        padding-top: 0.25rem;
        padding-bottom: 1rem;
    }
    .project {
        margin: 0;
    }
}

/* CONTACT Section */

#contact {
    text-align: center;
    padding: 3rem;
}
#contact .container {
    background-color: hsla(55, 100%, 85%, 0.15);
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid darkgray;
}

#contact a {
    text-decoration: none;
    color: #4a4a4a;
}


h2.contact-tom  {
    background-color: 	hsla(53, 100%, 50%, 0.3);
    padding: 0.5rem;
    border-radius: 0.625rem;
}
.email a {
    text-decoration: none;
    color: #4a4a4a;
}

footer {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    #contact h1 {
        font-size: 2.5rem;
    }
    #contact h2 {
        font-size: 2rem;
    }
    #contact h3 {
        font-size: 1.5rem;
    }
    #contact .container {
        flex-flow: column;
        justify-content: space-between;
        padding: 1rem;
    }
    #contact .container .phone {
        padding: 1.5rem;
    }
}
@media only screen and (max-width: 630px) {
    footer {
        font-size: 0.75rem;
        display: block;
    }
    .copyright {
        margin-bottom: 0.75rem;
    }
}